#----------------- R & RStudio noise
.Rproj.user/
.Rhistory
.RData
.Ruserdata
# Mac Finder....
.DS_Store
**/.DS_Store

# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
*.log

#----------------- VSCODE
.vscode/
.claude/

# ----------------- QUARTO WEBSITE
_site/
_freeze/
.quarto/
_quarto/
/.quarto/
*_files/

# ----------------- DATA FILES

# ----- INPUT data
# Ignore everything under data_in bc may be very BIG ...
data_in/**/*
# ...BUT Keep .gitkeep, Markdown, and PDF files
!data_in/.gitkeep
!data_in/**/*.md
!data_in/**/*.pdf

# ----- OUTPUT data
# Ignore everything under data_out bc may be very BIG ...
data_out/**/*
# ...BUT Keep .gitkeep, Markdown, and PDF files
!data_out/.gitkeep
!data_out/**/*.md
!data_out/**/*.pdf


# ----------------- Personal
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# xche lo sto dando anche a Sinloc!!!
_notes/**/*.*

# ----------------- Unnecessary
zzz/**/*.*
*/zzz/**/*.*
CLAUDE.md
**/*.quarto_ipynb
